:root {
  --brand-color: #f5c449;
}

body {
  background-color: #181818;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: var(--brand-color) !important;
}

.navbar-toggler {
  padding: .25rem .25rem;
}

.navbar-toggler:focus {
  box-shadow: 0 0;
}

.navbar-dark {
  background-color: #252525 !important;
  border-bottom: 1px solid #000000;
}

.nav-link {
  color: #afafaf !important;
}

nav .nav-separator::after {
  content: "|";
  font-size: 0.8rem;
  margin-right: 0.1rem;
  display: inline;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
  color: #474947;
}

nav #nav-search {
  display:flex;
  padding: 0.25rem 0;
}

nav #nav-search * > * {
  border: 1px solid var(--brand-color);
}

nav #nav-search * > .btn {
  background-color: var(--brand-color);
}

nav #nav-search * > input {
  background: #303130;
  color: grey;
}

nav #nav-search * > *:focus {
  box-shadow: none;
}

.catagory-title {
  margin-top: 0.75rem;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid var(--brand-color);
}

.catagory-title > a {
  color: grey;
}

.card-section {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-section > * {
  --bs-gutter-x: 0.5rem;
}

.card {
  border: 0;
  background-color: transparent;
  text-align: center;
}

.card > .card-body {
  padding: 0.2rem;
}

.card .card-title {
  font-size: 0.75rem;
  color: #afafaf;
}

.card > img {
  border-radius: 0.3rem;
}

.twitch-embeds {
  display: flex;
  height: calc(calc(100vw / 16 * 9) - 0.75rem);
}

.twitch-player {
  width: 70%;
  padding-right: 0.25rem;
}

.twitch-chatroom {
  width: 30%;
  padding-left: 0.25rem;
}

/* ----- < Break Point ----- */

/* <Medium | <md | <768px */
@media (max-width: 767.98px) {
  .card-section > .col:nth-child(9),
  .card-section > .col:nth-child(10),
  .card-section > .col:nth-child(11),
  .card-section > .col:nth-child(12) {
    display: none;
  }
}

/* <Large | <lg | <992px */
@media (max-width: 991.98px) {
  nav .nav-separator::after {
    display: none;
  }

  #catagory-box-recommend .twitch-chatroom {
    display: none;
  }

  #catagory-box-recommend .twitch-player {
    width: 100%;
    padding-right: 0;
  }

  .card-section > .col:nth-child(13),
  .card-section > .col:nth-child(14) {
    display: none;
  }
}

/* <Extra large | <xl | <1200px */
@media (max-width: 1199.98px) {
  .card-section > .col:nth-child(15),
  .card-section > .col:nth-child(16) {
    display: none;
  }
}

/* <Extra extra large | <xxl | <1400px */
@media (max-width: 1399.98px) {
  .card-section > .col:nth-child(17),
  .card-section > .col:nth-child(18),
  .card-section > .col:nth-child(19),
  .card-section > .col:nth-child(20) {
    display: none;
  }
}

/* ----- ≥ Break Point ----- */

/* Small | sm | ≥576px */
@media (min-width: 576px) {
  .twitch-embeds {
    height: 290px;
  }
}

/* Medium | md | ≥768px */
@media (min-width: 768px) {
  .twitch-embeds {
    height: 392px;
  }
}

/* Large | lg | ≥992px */
@media (min-width: 992px) {
  .row-cols-lg-7 > * {
    flex: 0 0 auto;
    width: 14.285%;
  }

  .twitch-embeds {
    height: 340px;
  }

  .twitch-player {
    width: 65%;
  }
  
  .twitch-chatroom {
    width: 35%;
  }
}

/* Extra large | xl | ≥1200px */
@media (min-width: 1200px) {
  .row-col-xl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }

  .twitch-embeds {
    height: 405px;
  }
}

/* Extra extra large | xxl | ≥1400px */
@media (min-width: 1400px) {
  .row-cols-xxl-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }

  .twitch-embeds {
    height: 472px;
  }
}